
    <div class="profile" id="profile-container">
        <div class="row">
            <!-- Profile Information -->
            <div class="col-md-6">
                <div class="card">
                    <div class="profileDetails card-body">
                        <h5 class="card-title fs-2 fw-bold"><span class="material-symbols-outlined">person</span>Profile</h5>
                    
                        <!-- Profile Details -->
                        <p class="profileName mt-3"><strong>Name:</strong> {{name}}</p>
                        <p class="profileGender"><strong>Gender:</strong> {{gender}}</p>
                        <p class="profileBirthday"><strong>Birthday:</strong> {{birthday}}</p>
                        <p class="profileEmail"><strong>Email:</strong> {{email}}</p>
                    </div>        
                </div>
            </div>   
            
            <!-- Gameplay Data -->
            <div class="col-md-6">
                <div class="card">
                    <div class="gamePlayData card-body">
                        <h5 class="card-title fs-2 fw-bold"><span class="material-symbols-outlined">sports_esports</span>Gameplay Data</h5>
                        <p class="gamesPlayed mt-3"><strong>Number of Games Played:</strong></p>
                        <p class="gameTime"><strong>Time Spent Playing:</strong></p>
                        <p class="winLoss"><strong>Win/Loss Ratios:s</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
