    <div class="supportBox m-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="support card-body">
                        <h5 class="card-title fs-2 fw-bold text-center">Gambling Support</h5>
                        <p class="text-center mt-4">Do you have a gambling problem or addiction?<br>
                        Watch this video below:</p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/883kccUq21o" title="GambleAware campaign" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>        


            <div class="col-md-4">
                <div class="card">
                    <div class="helpline card-body">
                        <h5 class="card-title fs-2 fw-bold text-center">The Gambling Helpline</h5>
                        <h1 class="mt-4 text-center"><a href="https://www.gamblinghelponline.org.au/tools-resources/chat-counselling?language_content_entity=en">1800 858 858</a></h4>
                        <p class="mt-4">Gambling is extremely prevalent in today's world, this app is designed to help you with the struggles of a gambling addiction without putting your loved ones in jeopardy of financial strain and burden.</p>
                        <p>Gambling is a normal activity to most people. It can be a bit of fun with a group of friends, a day at the races or a night out at the casino.</p>
                        <p>When a fun pastime that seems so much part of the Australian way of life slips into behaviour that causes harm to yourself and others can be challenging and confronting.</p>
                    </div>
                </div>    
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="resources card-body">
                        <h5 class="card-title fs-2 fw-bold text-center">Other Resources and Services</h5>
                        <p class="fs-4 text-center mt-4">Gambling Educational Resources</p>
                        <p class="fs-4 text-center"><a href="https://www.gambleaware.nsw.gov.au/resources-and-education">Attend a seminar</a></p>
                        <p class="fs-4 text-center">Gambling Counselling Services</p>
                        <p class="fs-4 text-center mb-4"><a href="https://www.gamblinghelponline.org.au/nsw/local-support-services?language_content_entity=en">Book a Session</a></p>
                        <img src="https://gho-website-v2-prod.s3.ap-southeast-2.amazonaws.com/drupal-s3fs/s3fs-public/2023-06/Are%20you%20gambling%20with%20your%20career%201920x1080px%20%281%29.jpg" alt="Aristocrat Pokies" width="100%">
                    </div>
                </div>
            </div>
        </div> 
    </div>
